
<div class="content has-padding-top has-padding-bottom">
<h2>Product Data</h2>
  <h3>Above Title</h3>
    <p>Category - {{ product.metafields.jadepuma.category }}</p>
  <h3>Summary Panel</h3>
    <p>Format - {{ product.metafields.jadepuma.format }}</p>
    <p>When to Take - {{ product.metafields.jadepuma.when_to_take }}</p>
    <p>With Food - {{ product.metafields.jadepuma.with_food }}</p>
  <h3>Additional Information</h3>
    <p>Serving Size - {{ product.metafields.jadepuma.serving_size }}</p>
    <p>More Info - {{ product.metafields.jadepuma.more_info }}</p>
    <p>Storage - {{ product.metafields.jadepuma.storage }}</p>
    <p>Warnings - {{ product.metafields.jadepuma.warnings }}</p>
  <h3>Ingredients</h3>
    <p>Ingredients - {{ product.metafields.jadepuma.ingredients }}</p>
    <p>NRV - {{ product.metafields.jadepuma.nrv }}</p>
    <p>Allergens - {{ product.metafields.jadepuma.allergens }}</p>
    <p>Suitable For - {{ product.metafields.jadepuma.dietary }}</p>
  <h3>Certificates & Awards</h3>
  <h3>Bundles</h3>

    <p>Bundles - {{ product.metafields.jadepuma.bundles }}</p>

    <h3>Collection Page Filters</h3>
    <p>Goals - {{ product.metafields.jadepuma.goals }}</p>
    <p>Need - {{ product.metafields.jadepuma.need }}</p>

    <h3>Product Details</h3>
  <h4>Section 1</h4>
  <p>Icon -{{ product.metafields.product-details.image_1 }}</p>
  <p>Title - {{ product.metafields.product-details.title_1 }}</p>
  <p>Text - {{ product.metafields.product-details.text_1 }}</p>
  <h4>Section 2</h4>
  <p>Icon -{{ product.metafields.product-details.image_2 }}</p>
  <p>Title - {{ product.metafields.product-details.title_2 }}</p>
  <p>Text - {{ product.metafields.product-details.text_2 }}</p>
  <h4>Section 3</h4>
  <p>Icon -{{ product.metafields.product-details.image_3 }}</p>
  <p>Title - {{ product.metafields.product-details.title_3 }}</p>
  <p>Text - {{ product.metafields.product-details.text_3 }}</p>
  
  <h3>Not in use</h3>

    <p>Colour - {{ product.metafields.jadepuma.colour }}</p>
    <p>Contents Size - {{ product.metafields.jadepuma.contents_size }}</p>


    <p>Dosage - {{ product.metafields.jadepuma.dosage }}</p>
  
</div>