
  {% assign border_color = settings.border_color %}
  {% assign accordion_icon_color = section.settings.accordion_icon_color %}
  {% assign metafield_page_handle = product.metafields.jadepuma.size_chart_page_title | handleize %}
  {% assign metafield_page = pages[metafield_page_handle] %}
  {% assign auto_close = auto_close %}
  {% assign awards = product.metafields.jadepuma.awards.value %}
  {% assign lab_reports = product.metafields.jadepuma.lab_reports.value %}

  {% assign include_size_chart = product.metafields.jadepuma.include_size_chart | metafield_text %}

  {% style %}

    .multiple_accordion_container-1234{
        padding: 0px 0px;
        margin:30px auto;
    }
    .multiple_accordion_heading-1234{
      margin-bottom: 15px;
      font-size:30px;
      font-weight:400;
      color:{{section.settings.heading_color}};
    }
    .multiple_accordion_title-1234{
      display:grid;
      grid-template-columns:  auto 42px;
      font-size:16px;
      padding: 15px 0px;
      border-bottom:1px solid {{border_color}};
      color:{{section.settings.tab_heading_color}};
    }
    .multiple_accordion_content-1234{
      text-align:left;
      display:none;
      padding:20px 30px;
    }

    .accordian_content_heading-1234{
        margin-top:30px;
    }

    .multiple_accordion_title-1234:hover{
      cursor:pointer;
      background-color:{{section.settings.tab_hover_color}};
    }
    .accordion_expand-1234{
        margin:0px 5px;
        transform:translateY(2px);
    }

    .accordion_collapse-1234{
        margin:0px 5px;
        transform:translateY(2px);
    }

    .accordion_expand-1234 .icon svg{
     height:60%;
     width:60%;
    }

    .accordion_collapse-1234 .icon svg{
     height:60%;
     width:60%;
    }

    .lab-report-title, .multiple_accordion_item a {
      text-decoration: underline
    }

    @media only screen and (max-width: 600px) {
    .multiple_accordion_content-1234{
      text-align:left;
      display:none;
      padding:20px 10px;

    }
    }

.awards-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

  {% endstyle %}
  
    <div class="multiple_accordion_container-1234 content">

          <div class="multiple_accordion_item item-1234">
            <div class="multiple_accordion_title-1234" style="border-top:1px solid {{border_color}};">
              <div>
                INGREDIENTS
                {% if settings.toggle_icon_style == 'carets' %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'down-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'up-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% else %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'plus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'minus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% endif %}
              </div>
            </div>

            <div class="multiple_accordion_content-1234">
              <h3 class="accordian_content_heading">{{ block.settings.content_heading }}</h3>

              {% if product.metafields.jadepuma.ingredients %}
                <p><strong>Ingredients</strong>: {{ product.metafields.jadepuma.ingredients }}</p>
              {% endif %}

              {% comment %}
              {% if product.metafields.jadepuma.nrv %}
                <p><strong>NRV</strong>: {{ product.metafields.jadepuma.nrv }}</p>
              {% endif %}
              {% endcomment %}

              {% if product.selected_or_first_available_variant.metafields.jadepuma.nrv != blank %}
                    <p><strong>NRV</strong>: <span class="nrv-variant">{{ product.selected_or_first_available_variant.metafields.jadepuma.nrv }}</span></p>
              {% else %}
                    <p><strong>NRV</strong>: <span class="nrv-variant">{{ product.metafields.jadepuma.nrv }}</span></p>
              {% endif %}


              {% if product.metafields.jadepuma.allergens %}
                <p><strong>Allergens</strong>: {{ product.metafields.jadepuma.allergens }}</p>
              {% endif %}
              {% if product.metafields.jadepuma.dietary %}
                <p><strong>Dietary</strong>: 
                  {% for dietary_item in product.metafields.jadepuma.dietary.value %}
                    {{ dietary_item }}
                    {% unless forloop.last %} - {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

            </div>
          </div>

          <div class="multiple_accordion_item item-1234">
            <div class="multiple_accordion_title-1234">
              <div>
                ADDITIONAL INFORMATION
                {% if settings.toggle_icon_style == 'carets' %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'down-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'up-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% else %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'plus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'minus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="multiple_accordion_content-1234">
              <h3 class="accordian_content_heading">{{ block.settings.content_heading }}</h3>


              {% if product.metafields.jadepuma.serving_size != blank %}
                    <p><strong>Serving Size</strong>: <span class="serving-size-variant">{{ product.metafields.jadepuma.serving_size }}</span></p>
              {% elsif product.selected_or_first_available_variant.metafields.jadepuma.serving_size != blank %}
                    <p><strong>Serving Size</strong>: <span class="serving-size-variant">{{ product.selected_or_first_available_variant.metafields.jadepuma.serving_size }}</span></p>

              {% endif %}
              {% if product.metafields.jadepuma.dosage %}              
                <p><strong>Dosage</strong>: {{ product.metafields.jadepuma.dosage }}</p>
              {% endif %}
              {% if product.metafields.jadepuma.more_info %}              
                <p><strong>More Info</strong>: {{ product.metafields.jadepuma.more_info }}</p>
              {% endif %}
              {% if product.metafields.jadepuma.storage %}
                <p><strong>Storage</strong>: {{ product.metafields.jadepuma.storage }}</p>
              {% endif %}
              {% if product.metafields.jadepuma.warnings %}
                <p><strong>Warnings</strong>: {{ product.metafields.jadepuma.warnings }}</p>
              {% endif %}
            </div>
          </div>

      {% if awards or lab_reports %}
          <div class="multiple_accordion_item item-1234">
            <div class="multiple_accordion_title-1234">
              <div>
                CERTIFICATES & AWARDS
                {% if settings.toggle_icon_style == 'carets' %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'down-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'up-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% else %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'plus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'minus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="multiple_accordion_content-1234">
              {% if awards %}
              <h3 class="accordian_content_heading">{{ awards_heading }}</h3>
              <div class="awards-container">
                  {% for award in awards %}  
                <div class="award-image">
                    <img class='award' src="//youthandearth.com/cdn/shop/{{ award }}" alt="Product Award" style="width: 100px; height: 100px;">
                </div>
                  {% endfor %}
              </div>
                {% endif %}

              {% if lab_reports %}
              <h3 class="accordian_content_heading">{{ certificates_heading }}</h3>
                  {% for report in lab_reports %}
                    {% assign split_url = report.url | split: "/" %}
                    {% assign file_with_extension = split_url[-1] | split: "?" | first %}
                    {% assign file_title = file_with_extension | split: "." | first %}
                    {% assign title_with_spaces = file_title | replace: "_", " " %}
                    
                    <a class='lab-report-title' href="{{ report.url }}" target="_blank">{{ title_with_spaces }}</a><br>
                  {% endfor %}
                {% endif %}

            </div>
          </div>
      {% endif %}

          <div class="multiple_accordion_item item-1234">
            <div class="multiple_accordion_title-1234">
              <div>
                DELIVERY & RETURNS
                {% if settings.toggle_icon_style == 'carets' %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'down-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'up-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% else %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'plus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'minus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="multiple_accordion_content-1234">
              <h2 class="accordian_content_heading">Delivery</h2>
              {{ shop.shipping_policy }}
              <h2 class="accordian_content_heading">Returns</h2>
              {{ shop.refund_policy }}
            </div>
          </div>

          <div class="multiple_accordion_item item-1234">
            <div class="multiple_accordion_title-1234">
              <div>
                REWARDS
                {% if settings.toggle_icon_style == 'carets' %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'down-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'up-caret',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% else %}
                  <span class="accordion_expand-1234">
                    {%
                      render 'icon',
                      name: 'plus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                  <span class="accordion_collapse-1234" style="display:none;">
                    {%
                      render 'icon',
                      name: 'minus',
                      icon_class: 'icon--rotate',
                    %}
                  </span>
                {% endif %}
              </div>
            </div>
            <div class="multiple_accordion_content-1234">
              {{ pages.rewards.content }}
            </div>
          </div>
      
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>


    
      $('.item-1234').click(function(){
      //get the clicked item
      $clickedItem = $('.multiple_accordion_content-1234',this);
      $clickedItemIconExpand = $('.accordion_expand-1234',this);
      $clickedItemIconCollapse = $('.accordion_collapse-1234',this);
      // is the clicked item already open?
      if(($clickedItem.hasClass('open'))){
         //remove the class, slide it up and return early

          $clickedItem.removeClass('open').slideUp(300);
          $clickedItemIconCollapse.toggle();
          $clickedItemIconExpand.toggle();

          return;
      }


    {% if auto_close  %}


      $('.multiple_accordion_content-1234').removeClass('open').slideUp(300);
      document.querySelectorAll('.multiple_accordion_content-1234').forEach((el, index)=>{
        if (el.classList.contains("open")) {
          document.querySelectorAll('.accordion_expand-1234')[index].style.display = "none";
          document.querySelectorAll('.accordion_collapse-1234')[index].style.display = "inline-block";
        }
        else{
          document.querySelectorAll('.accordion_expand-1234')[index].style.display = "inline-block";
          document.querySelectorAll('.accordion_collapse-1234')[index].style.display = "none";
        }
      })

      
    {% else %}


    {% endif %}


      //slide down the clicked item and add the open class
      $clickedItem.slideDown(300).addClass('open');
      $clickedItemIconCollapse.toggle();
      $clickedItemIconExpand.toggle();
    });

    //limit clickable aread to the accordion title
    $( '.multiple_accordion_content-1234' ).click(function() {
      event.stopImmediatePropagation()
    });
  </script>

