{% if related_products == true %}
  {% assign hover_enabled = block.settings.show_related_products_title_on_hover %}
{% else %}
  {% assign hover_enabled = settings.thumbnail_hover_enabled %}
{% endif %}


{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}
{% assign secondaryImage = product.media[1] %}

{% assign collection_handles = product.collections | map: 'handle' %}
{% if product.featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {% assign alt_text = product.title %}
{% else %}
  {% assign alt_text = product.featured_media.preview_image.alt %}
{% endif %}

{% if type == 'block' %}
  {% assign image_crop = block.settings.image_crop %}
{% else %}
  {% assign image_crop = section.settings.image_crop %}
{% endif %}

{% if align_height == true %}
  {% style %}
    .shopify-model-viewer-ui model-viewer {
      --progress-bar-height: 2px;
      --progress-bar-color: {{ settings.regular_color }};
    }
  {% endstyle %}
{% endif %}

{% assign promo_discount_text = product.metafields.jadepuma.promo_discount_rich_text %}
{% assign original_text = promo_discount_text | metafield_tag %}
{% assign new_text = original_text %}
{% if product.title == "Detoxification Bundle" or product.title == "Cellular Defence Bundle"%}
{% assign new_text = blank %}

{% endif %}
{% assign background_transparency = settings.discount_promo_bg_color_transparency | divided_by: 100 %}
  <!-- {{ settings.discount_promo_bg_color_transparency }}, {{ background_transparency }} -->

<div class="
  {% if article %}product__grid-item-article-mobile{% endif %}
  {% if settings.toggle_promo_discount_message and new_text == '' and settings.discount_promo_position == 'below' and settings.discount_promo_inside_product_card_position == 'top' %}
  has-no-discount-promo
    {% endif %}
  {%
    render 'column-width',
    value: products_per_row
  %}
  medium-down--one-half
  {% if mobile_products_per_row == '1' %}
    small-down--one-whole
  {% else %}
    small-down--one-half
  {% endif %}
  column
  {% if settings.enable_quickshop %}
    quick-shop--true
    quick-shop--closed
    product-{{ product.id }} js-product_section
  {% endif %}
  {% if settings.stickers_enabled %}
    has-thumbnail-sticker
  {% endif %}
  {% if product.media[1] != blank and settings.show_secondary_image == true %}
    has-secondary-image-swap
  {% endif %}
  thumbnail
  product__thumbnail
  product__grid-item

  thumbnail__hover-overlay--{{ hover_enabled }}
  {% unless article %}has-padding-bottom{% endunless %}
  
  "

  {% if section.settings.pagination_type != 'basic_pagination' %}
    data-load-more--grid-item
  {% endif %}>
  <div class="product-wrap flip-box" style="position:relative;">


    {% if settings.toggle_promo_discount_message and new_text != "" and settings.discount_promo_position == "below" and settings.discount_promo_inside_product_card_position == "top" %}<div class="discount_promo_collection_bottom">{{ new_text }}</div>{% endif %}
      
    <div class="product-image__wrapper flip-box-inner">
        <div class="image__container product__imageContainer flip-box-front">
          <div class="discount_promo_inner_container">
          <a href="{{ product.url | within: collection }}">
            
            {% if settings.stickers_enabled %}
              {%
                render 'product-thumbnail__sticker',
                product: product,
                context: 'thumbnail',
                collection_handles: collection_handles
              %}
            {% endif %}

            {% comment %} Primary image {% endcomment %}
            {%
              render 'image-element-custom',
              image: product.featured_media.preview_image,
              alt: alt_text,
              object_fit: align_height,
              max_height: height,
            %}

            {% comment %} Secondary image {% endcomment %}
            {% if product.media[1] != blank and settings.show_secondary_image == true %}
              {% if product.media[1].media_type == 'external_video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover">
                  <div data-youtube-video>
                    {{ product.media[1] | external_video_tag }}
                  </div>
                </div>
              {% elsif product.media[1].media_type == 'video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover" data-html5-video>
                  {{ product.media[1] | video_tag: controls: false }}
                </div>
              {% else %}
                {%
                  render 'image-element-custom',
                  image: product.media[1],
                  alt: alt_text,
                  object_fit: align_height,
                  max_height: height,
                  additional_classes: 'secondary swap--visible',
                %}
              {% endif %}
            {% endif %}
            </a>
{% comment %}
<span class="discount_promo_collection">{{ new_text }}</span>{% endcomment %}
{% if settings.toggle_promo_discount_message and new_text != "" and settings.discount_promo_position == "above"  %}<div class="discount_promo_collection">{{ new_text }}</div>{% endif %}

            </div>
          
        </div>

        <div class="image__container product__imageContainer flip-box-back">
          <a href="{{ product.url | within: collection }}">
            {% if settings.stickers_enabled %}
              {%
                render 'product-thumbnail__sticker',
                product: product,
                context: 'thumbnail',
                collection_handles: collection_handles
              %}
            {% endif %}

            {% comment %} Primary image {% endcomment %}

            {% assign last_image_index = product.images.length | minus: 1 %}
            {%
              render 'image-element-custom',
              image: product.images[last_image_index],
              alt: alt_text,
              object_fit: align_height,
              max_height: height,
            %}

            {% comment %} Secondary image {% endcomment %}
            {% if product.media[1] != blank and settings.show_secondary_image == true %}
              {% if product.media[1].media_type == 'external_video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover">
                  <div data-youtube-video>
                    {{ product.media[1] | external_video_tag }}
                  </div>
                </div>
              {% elsif product.media[1].media_type == 'video' %}
                <div class="product-thumbnail__video secondary swap--visible video-on-hover" data-html5-video>
                  {{ product.media[1] | video_tag: controls: false }}
                </div>
              {% else %}
                {%
                  render 'image-element-custom',
                  image: product.media[1],
                  alt: alt_text,
                  object_fit: align_height,
                  max_height: height,
                  additional_classes: 'secondary swap--visible',
                %}
              {% endif %}
            {% endif %}
          </a>
        </div>


        {% if hover_enabled or settings.enable_quickshop %}
          <div class="thumbnail-overlay__container">
            <a class="hidden-product-link" href="{{ product.url | within: collection }}">{{ product.title | escape }}</a>

            {% if hover_enabled %}
              <div class="quick-shop__info animated fadeInDown">
                <div class="thumbnail-overlay">
                  <div class="info text-align-center">
                    {% if settings.display_vendor %}
                      <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
                    {% endif %}

                    <p class="product-thumbnail__title">{{ product.title | escape }}</p>

                    {% if collection_handles contains 'coming-soon' %}
                      <span>{{ 'collections.general.coming_soon' | t }}</span>
                    {% elsif product.available == false %}
                      <span class="product-thumbnail__price">
                        {{ 'collections.general.sold_out' | t }}
                      </span>
                    {% else %}
                      <span
                        class="
                          product-thumbnail__price price
                          {% if product.compare_at_price > product.price %}
                            sale
                          {% endif %}
                        "
                      >
                        {% if product.price_varies %}
                          <small><em>{{ 'products.general.from' | t }}</em></small>
                        {% endif %}
                        {% if product.price_min > 0 %}
                          <span class="money">
                            {%
                              render 'price-element',
                              price: product.price_min
                            %}
                          </span>
                        {% else %}
                          {{ settings.free_price_text }}
                        {% endif %}
                        {%- assign variant = product.selected_or_first_available_variant -%}
                        {% if product.compare_at_price > product.price %}
                          <span class="product-thumbnail__was-price compare-at-price">
                            <span class="money">
                              {%
                                render 'price-element',
                                price: product.compare_at_price,
                              %}
                            </span>
                          </span>
                        {% endif %}
                      </span>
                      {% if settings.select_first_available_variant %}
                        {%- assign variant_for_unit_price = product.variants | sort: 'price' | first -%}
                        {%
                          render 'unit-price',
                          item: variant_for_unit_price,
                          class: 'product-thumbnail__unit-price'
                        %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}

            {% if settings.enable_quickshop %}
              {%
                render 'product-thumbnail__quick-shop-button',
                product: product,
              %}
            {% endif %}

            {% if hover_enabled %}
              {% if settings.enable_shopify_collection_badges and product.metafields.reviews.rating.value != blank %}
                <div class="product__rating rating">
                  {%
                    render 'rating-stars',
                    value: product.metafields.reviews.rating.value.rating,
                    scale_max: product.metafields.reviews.rating.value.scale_max,
                  %}

                  <p class="rating__text">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
                    </span>
                  </p>

                  <p class="rating__count">
                    <span aria-hidden="true">
                      {{ product.metafields.reviews.rating_count }}
                      {% if product.metafields.reviews.rating_count > 1 %}
                        {{ "general.accessibility.star_reviews_text" | t }}
                      {% else %}
                        {{ "general.accessibility.star_review_text" | t }}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
      </div>

      <div class="thumbnail__caption text-align-{{ settings.thumbnail_text_alignment }}">
        
        {%
          render 'product-thumbnail__product-info',
          product: product,
          collection_handles: collection_handles
        %}
        {% if settings.toggle_promo_discount_message and new_text != "" and settings.discount_promo_position == "below" and settings.discount_promo_inside_product_card_position == "bottom"  %}<div class="discount_promo_collection_bottom">{{ new_text }}</div>{% endif %}
      
      </div>
    </div>

  {%
    render 'product-thumbnail__swatch',
    product: product
  %}

  {% if hover_enabled == false %}
    {% if settings.enable_shopify_collection_badges and product.metafields.reviews.rating.value != blank %}
      <div
        class="
          product__rating
          rating
          is-justify-{{ settings.thumbnail_text_alignment }}
        "
      >
        {%
          render 'rating-stars',
          value: product.metafields.reviews.rating.value.rating,
          scale_max: product.metafields.reviews.rating.value.scale_max,
        %}

        <p class="rating__text">
          <span aria-hidden="true">
            {{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}
          </span>
        </p>

        <p class="rating__count">
          <span aria-hidden="true">
            {{ product.metafields.reviews.rating_count }}
            {% if product.metafields.reviews.rating_count > 1 %}
              {{ "general.accessibility.star_reviews_text" | t }}
            {% else %}
              {{ "general.accessibility.star_review_text" | t }}
            {% endif %}
          </span>
        </p>
      </div>
    {% endif %}
  {% endif %}

{% if related_product_section == true and product.title contains "Bundle" %}
  {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price %}
  <div style="margin:10px 5px; font-size:15px; text-align:center; border:1px solid #000; border-radius:8px; padding:6px 0;"> Bundle Savings: {{ product.compare_at_price | minus: product.price | money }} ({{discount_percentage}}%)</div>
{% endif %}

<div class="google_shopping_discount_applied google_shopping_discount_applied_collection">{{settings.coupon_applied_text}}</div>

</div>


{% style %}

.flip-box-inner {
  position:relative;
  transition: transform 0.{{settings.thumbnail_image_flip_transition}}s;
  transform-style: preserve-3d;
  display:flex;
  justify-content:center;

}


.flip-box-front, .flip-box-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  position:absolute !important;
  top:0;
}

.discount_promo_collection_bottom {

  width:100%;
    margin-top: {{ settings.discount_promo_top_margin }}px;
  margin-bottom:{{ settings.discount_promo_bottom_margin }}px;
  
}

.discount_promo_collection_bottom a {
  color: #FC4301;
}
.discount_promo_collection, .discount_promo_collection_bottom{
  text-align: {{ settings.discount_promo_text_alignment }};
  font-size: {{ settings.discount_promo_font_size }}px;
  color:{{ settings.discount_promo_text_color }};
      background:{%- render 'color_to_rgba', color:settings.discount_promo_bg_color, opacity:settings.discount_promo_bg_color_transparency -%};

}

 
.discount_promo_collection{
  position:absolute;
  {{ settings.discount_promo_inside_product_card_position }}:0;
  width:100%;
  pointer-events: none;
  height:fit-content;
  background:{%- render 'color_to_rgba', color:settings.discount_promo_bg_color, opacity:settings.discount_promo_bg_color_transparency -%};
      padding-top: {{ settings.discount_promo_top_margin }}px;
  padding-bottom:{{ settings.discount_promo_bottom_margin }}px;

}
  .discount_promo_collection .metafield-rich_text_field, .discount_promo_collection_bottom .metafield-rich_text_field {
    padding:{{ settings.discount_promo_padding }}px;
    text-align:{{ settings.discount_promo_text_alignment }} !important;

  }
.discount_promo_collection_bottom{
    border-radius:{{ settings.discount_promo_border_radius }}px;

}

  
.discount_promo_collection a, .discount_promo_collection a:hover, .discount_promo_collection_bottom a, .discount_promo_collection_bottom a:hover {
  color:{{ settings.discount_promo_text_color }};
  pointer-events: none;
}
.discount_promo_inner_container{
  position:relative;
}
  .has-no-discount-promo{
    display:grid;
    align-items:end;
  }


@media only screen and (min-width: 798px) {
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

}

  @media only screen and (max-width: 480px) {
{% if settings.toggle_promo_discount_message_mobile != true %}
.discount_promo_collection_bottom {
  width:100%;
  margin-top: {{ settings.discount_promo_top_margin_mobile }}px;
  margin-bottom:{{ settings.discount_promo_bottom_margin_mobile }}px;
}

.discount_promo_collection_bottom a {
  color: #FC4301;
}
.discount_promo_collection, .discount_promo_collection_bottom{
  font-size: {{ settings.discount_promo_font_size_mobile }}px;
  color:{{ settings.discount_promo_text_color_mobile }};
      background:{%- render 'color_to_rgba', color:settings.discount_promo_bg_color_mobile, opacity:settings.discount_promo_bg_color_transparency_mobile -%};

}


.discount_promo_collection {
  font-size: 9px;
}

 
.discount_promo_collection{
  position:absolute;
  {{ settings.discount_promo_inside_product_card_position_mobile }}:0;
  width:100%;
  pointer-events: none;
  height:fit-content;
  background:{%- render 'color_to_rgba', color:settings.discount_promo_bg_color_mobile, opacity:settings.discount_promo_bg_color_transparency_mobile -%};
      padding-top: {{ settings.discount_promo_top_margin_mobile }}px;
  padding-bottom:{{ settings.discount_promo_bottom_margin_mobile }}px;

}
  .discount_promo_collection .metafield-rich_text_field, .discount_promo_collection_bottom .metafield-rich_text_field {
    padding:{{ settings.discount_promo_padding_mobile }}px;
    text-align:{{ settings.discount_promo_text_alignment_mobile }} !important;

  }
.discount_promo_collection_bottom{
    border-radius:{{ settings.discount_promo_border_radius_mobile }}px;

}

  
.discount_promo_collection a, .discount_promo_collection a:hover, .discount_promo_collection_bottom a, .discount_promo_collection_bottom a:hover {
  color:{{ settings.discount_promo_text_color_mobile }};
  pointer-events: none;
}

{% endif %}

}


  .product-thumbnail__sale-price .money {
    font-size: 12px;
  }

{% endstyle %}
