{% style %}
  .product-thumbnail .icons {
    {% if product.metafields.jadepuma.dosage == blank %}
      margin-right: 0;
    {% endif %}
  }

  :host-context(.feefo-product-stars-widget) .reviews-count {
    display: none
  }

  .product-thumbnail .hide-price.panel-cell.price {
    display: none;
  }

  .product-thumbnail .hide-price-border.panel-cell.buy,
  .product-thumbnail .hide-price-border.panel-cell.buy a {
    border-radius: 8px;
  }


{% endstyle %}

<div class="product-thumbnail">
  {% if settings.display_vendor %}
    <span class="product-thumbnail__vendor">{{ product.vendor }}</span>
  {% endif %}
  <div class="top-box">
    <div class="first-row {% if article %} article-product-card-mobile{% endif %}">
      <div class="product-thumbnail__category">{{ product.metafields.jadepuma.category }}</div>
      <!-- TODO: uncomment this section when product catalogue will contain correct parrent-product-sku data -->
      <!-- <div  class="feefo-product-stars-widget 1"  data-product-sku="{{product.variants.first.sku}}"  data-parent-product-sku="{{product.variants.first.sku}}"></div> -->
      <div class="feefo-product-stars-widget" data-parent-product-sku="{{product.id}}"></div>

    <!-- {% if product.id == 8174336213205 %}  <div class="feefo-product-stars-widget" data-parent-product-sku="44870038290645"></div>{% elsif product.id == 8174339653845 %}  <div class="feefo-product-stars-widget" data-parent-product-sku="44870057263317"></div>{% else %}
      <div class="feefo-product-stars-widget" data-product-sku="{{product.variants.first.sku}}"></div>
    {% endif %} -->
    </div>

    {% if hover_enabled %}
      <span class="product-thumbnail__title">{{ product.title }}</span>
    {% else %}
      <a href="{{ product.url | within: collection }}" class="product-thumbnail__title">
        {% if product.metafields.jadepuma.short_title %}
          {{ product.metafields.jadepuma.short_title }}
        {% else %}
          {{ product.title }}
        {% endif %}
        {% if product.metafields.jadepuma.short_subtitle %}
          <br><span class="subtitle">{{ product.metafields.jadepuma.short_subtitle }}</span>
        {% endif %}
      </a>
    {% endif %}
  </div>

  {% style %}
    .summary-panel-detailed-mobile {
      display: none;
    }

    @media only screen and (max-width: 480px) {
      .product-thumbnail__title {
        font-size: 13px;
        min-height: 48px;
        display: inline-block;
      }
      .subtitle {
        font-size: 12px;
      }
      .first-row {
        flex-direction: column !important;
        gap: 5px;
        min-height: 35px;
      }
      .first-row .feefo-product-stars-widget {
        margin-left: -12px;
        margin-bottom: -8px;
      }
      .first-row .product-thumbnail__category {
        font-size: 12px;
      }
      .compare-at-price {
      ;
      /* display: block; */
    }
    .summary-panel-detailed {
      display: none !important;
    }
    .summary-panel-detailed-mobile {
      display: block;
      margin-bottom: 10px;
    }
    .summary-panel-detailed-mobile .hide-price.product-thumbnail__price {
      display: none;
    }
    .summary-panel-detailed-mobile .product-thumbnail__price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
    .product-thumbnail .top-box {
      height: unset;
      margin-bottom: 10px;
    }
    .discount_promo_collection_bottom {
      font-size: 12px !important;
    }

    .view_product_thumbnail-button {
      display: block;
    }
    :lang(de) .view_product_thumbnail-button a {
      font-size: 12px;
    }
    :lang(fr) .view_product_thumbnail-button a {
      font-size: 9px;
    }
    :lang(es) .view_product_thumbnail-button a {
      font-size: 10px;
    }
    :lang(it) .view_product_thumbnail-button a {
      font-size: 10px;
    }
  }
  {% endstyle %}

  <div class="summary-panel-detailed-mobile">

    <span class="{% if section.settings.hide-price and article %}hide-price {% endif %}product-thumbnail__price price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
      {% if product.price_varies and product.price_min > 0 %}
        <small>
          <em>{{ 'products.general.from' | t }}</em>
        </small>
      {% endif %}
      {% if product.compare_at_price > product.price %}
        {% unless product.price_varies and product.price_min > 0 %}
          <span class="product-thumbnail__was-price compare-at-price">
            <span class="money">
              {%
                render 'price-element'
                , price: product.compare_at_price
                ,
              %}
            </span>
          </span>
        {% endunless %}
      {% endif %}
      {% if product.price_min > 0 %}
        <span class="money product-thumbnail__sale-price">
          {%
            render 'price-element'
            , price: product.price_min
          %}
        </span>
      {% else %}
        {{ settings.free_price_text }}
      {% endif %}
    </span>
    {% if settings.select_first_available_variant %}
      {%- assign variant_for_unit_price = product.variants | sort: 'price' | first -%}
      {%
        render 'unit-price'
        , item: variant_for_unit_price
        , class: 'product-thumbnail__unit-price'
      %}
    {% endif %}

    <span class="product-thumbnail__price_google-discount price {% if product.compare_at_price_max > product.price %}sale{% endif %}">

      {% assign google_discount_value = 100 | minus: settings.google_discount_percentage | times: 0.01 %}

      {% if product.price_varies and product.price_min > 0 %}
        <small>
          <em>{{ 'products.general.from' | t }}</em>
        </small>
      {% endif %}


      {% assign google_discount_compare_price = product.price | times: google_discount_value %}

      {% unless product.price_varies and product.price_min > 0 %}
        <span class="product-thumbnail__was-price compare-at-price">
          <span class="money">
            {%
              render 'price-element'
              , price: product.price
              ,
            %}
          </span>
        </span>
      {% endunless %}


      {% assign google_discount_price_min = product.price_min | times: google_discount_value %}

      {% if product.price_min > 0 %}
        <span class="money product-thumbnail__sale-price" style="margin-left:5px; display: inline !important;">
          {%
            render 'price-element'
            , price: google_discount_price_min
          %}
        </span>
      {% else %}
        {{ settings.free_price_text }}
      {% endif %}

    </span>


  </div>


  <div class="summary-panel summary-panel-detailed">


    <div class="panel-cell stats" style="{% unless product.has_only_default_variant %} display:none; {% endunless %}">
      <div class="icons">
        {% if product.metafields.jadepuma.format == 'Capsules' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-pill.png?v=1695846845"
            alt="icon"
            loading="lazy">
        {% elsif product.metafields.jadepuma.format == 'Ketone' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/Capsule-icon.png?v=1695341783"
            alt="icon"
            loading="lazy">
        {% elsif product.metafields.jadepuma.format == 'Liquid' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-drop.png?v=1700064760"
            alt="icon"
            loading="lazy">
        {% elsif product.metafields.jadepuma.format == 'Powder' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-powder.png?v=1695846845"
            alt="icon"
            loading="lazy">
        {% elsif product.metafields.jadepuma.format == 'Softgels' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-softgell.png?v=1700064759"
            alt="icon"
            loading="lazy">
        {% elsif product.metafields.jadepuma.format == 'Bundle' %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-bundle.png?v=1700064961"
            alt="icon"
            loading="lazy">
        {% else %}
          <img
            src="https://cdn.shopify.com/s/files/1/0469/8905/0019/files/icon-pill.png?v=1695846845"
            alt="icon"
            loading="lazy">
        {% endif %}
      </div>
      <div>{{ product.metafields.jadepuma.contents_size }}</div>
    </div>
    <div class="{% if section.settings.hide-price and article %}hide-price {% endif %}panel-cell price {% if product.price_varies %} panel-cell-price_has-variants {% endif %}" style="flex-direction: column;">

      <span class="product-thumbnail__price price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
        {% if product.price_varies and product.price_min > 0 %}
          <small>
            <em>{{ 'products.general.from' | t }}</em>
          </small>
        {% endif %}
        {% if product.price_min > 0 %}
          <span class="money product-thumbnail__sale-price">
            {%
              render 'price-element'
              , price: product.price_min
            %}
          </span>
        {% else %}
          {{ settings.free_price_text }}
        {% endif %}
        {% if product.compare_at_price > product.price %}
          {% unless product.price_varies and product.price_min > 0 %}
            <span class="product-thumbnail__was-price compare-at-price">
              <span class="money">
                {%
                  render 'price-element'
                  , price: product.compare_at_price
                  ,
                %}
              </span>
            </span>
          {% endunless %}
        {% endif %}
      </span>

      <span class="product-thumbnail__price_google-discount price {% if product.compare_at_price_max > product.price %}sale{% endif %}">

        {% assign google_discount_value = 100 | minus: settings.google_discount_percentage | times: 0.01 %}

        {% if product.price_varies and product.price_min > 0 %}
          <small>
            <em>{{ 'products.general.from' | t }}</em>
          </small>
        {% endif %}

        {% assign google_discount_price_min = product.price_min | times: google_discount_value %}

        {% if product.price_min > 0 %}
          <span class="money product-thumbnail__sale-price">
            {%
              render 'price-element'
              , price: google_discount_price_min
            %}
          </span>
        {% else %}
          {{ settings.free_price_text }}
        {% endif %}

        {% assign google_discount_compare_price = product.price | times: google_discount_value %}

        {% unless product.price_varies and product.price_min > 0 %}
          <span class="product-thumbnail__was-price compare-at-price">
            <span class="money">
              {%
                render 'price-element'
                , price: product.price
                ,
              %}
            </span>
          </span>
        {% endunless %}
      </span>


      {% if settings.select_first_available_variant %}
        {%- assign variant_for_unit_price = product.variants | sort: 'price' | first -%}
        {%
          render 'unit-price'
          , item: variant_for_unit_price
          , class: 'product-thumbnail__unit-price'
        %}
      {% endif %}


  </div>
    {% comment %} Checking for preorder {% endcomment %}
    {% assign displayPreorderMetafield = false %}
    {% for v in product.variants %}
      {% unless v.inventory_quantity >= 0 or v.inventory_policy == "deny" %}
        {% if product.metafields.jadepuma.preorder_button_text != blank and product.metafields.jadepuma.preorder_message != blank %}
          {% assign displayPreorderMetafield = true %}
          {% break %}
        {% endif %}
      {% endunless %}
    {% endfor %}


    <div class="{% if product.has_only_default_variant %}{% elsif section.settings.hide-price and article %}hide-price-border {% endif %}panel-cell buy {% if product.available == false %}sold-out_button{% endif %}">

      {% if displayPreorderMetafield %}
        <a href="/cart/add/{{ product.selected_or_first_available_variant.id }}">
          ADD TO CART
        {% comment %}{{ 'collections.general.pre_order' | t | upcase}}{% endcomment %}
        </a>
      {% elsif collection_handles contains 'coming-soon' %}
        {% if settings.stickers_enabled == false %}
          {{ 'collections.general.coming_soon' | t }}
        {% endif %}
      {% elsif product.available == false %}
        <span class="">
          {{ 'collections.general.sold_out' | t }}
        </span>
      {% else %}
        {% if product.has_only_default_variant %}
          <a href="/cart/add/{{ product.selected_or_first_available_variant.id }}">ADD TO CART</a>
        {% else %}
          <a href="{{ product.url }}">VIEW OPTIONS</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="summary-panel view_product_thumbnail-button">
  {% if product.has_only_default_variant %}
    <a href="/cart/add/{{ product.selected_or_first_available_variant.id }}">ADD TO CART</a>
  {% else %}
    <a href="{{ product.url }}">VIEW OPTIONS</a>
  {% endif %}
</div>