{% if section.settings.show_header_promo and section.blocks.size > 0 %}


{% assign fontSizeDesktop = section.settings.font_size_desktop %}
{% assign fontSizeMobile = section.settings.font_size_mobile %}



<div id="announcement_main"  style="background-color: {{ section.settings.background_color }}">
  <ul id='announcement_container' class="announcement_container section">
     {% for block in section.blocks %}
      <li>
       {% if block.settings.link %}
         <a href="{{ block.settings.link }}">
       {% endif %}
        <div class="text_container"  style="background-color:{{block.settings.background_color}};">
           {% if block.settings.icon_label != blank %}
              {% render 'icon',
                      name: block.settings.icon_label,
                      icon_class: "small"
              %}
            {% endif %}
          <span class="promo_text">{{ block.settings.title }}</span>
          {% if block.settings.image %}
             <img src="{{ block.settings.image | img_url }}" class="promo_image" />
          {% endif %}
        </div>
       {% if block.settings.link %}
          </a>
       {% endif %}
      </li>
     {% endfor %}
     {% if section.blocks.size > 4 %}
       {% for block in section.blocks %}
          <li>
            <div class="text_container"  style="background-color:{{block.settings.background_color}};">
               {% if block.settings.icon_label != blank %}
                  {% render 'icon',
                          name: block.settings.icon_label,
                          icon_class: "small"
                  %}
                {% endif %}
              <span class="promo_text">{{ block.settings.title }}</span>
              {% if block.settings.image %}
                 <img src="{{ block.settings.image | img_url }}" class="promo_image" />
              {% endif %}
            </div>
          </li>
        {% endfor %}
       {% endif %}
  </ul>
</div>


<script>
document.addEventListener('DOMContentLoaded', () => {
  const container = document.getElementById('announcement_container');
  const items = container.querySelectorAll('li');
  let totalWidth = container.scrollWidth / 2;
  let scrollSpeed = 1.2;
  let scrollPosition = 0;
  
  function isMobileDevice() {
    let check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
    return check;
    // return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
  }

  function continuousScroll() {
    scrollPosition += scrollSpeed;
    if (scrollPosition >= totalWidth) {
      scrollPosition = 0;
    }
    container.scrollLeft = scrollPosition;
    requestAnimationFrame(continuousScroll);
  }

  if (items.length > 8 || isMobileDevice()) {
    continuousScroll();
  } else {
    items[items.length - 1].classList.add('last-element');
    items.forEach(item => {
      item.style.flex = "1";
    });
  }
  console.log('isMobileDevice', isMobileDevice(), items.length)
  // If mobile and less than 8 items, duplicate items
  if (isMobileDevice() && items.length < 8) {
    let itemsToDuplicate = 8 - items.length;
    for (let i = 0; i < itemsToDuplicate; i++) {
      let itemToDuplicate = items[i % items.length];
      let clonedItem = itemToDuplicate.cloneNode(true);
      container.appendChild(clonedItem);
    }
    totalWidth = container.scrollWidth / 2;
  }
});

</script>


<script>
  window.onload = window.onresize = function adjustStickySection() {
  // Get the previous sticky section by its ID
  var previousStickySection = document.getElementById('shopify-section-sections--16806877233365__header');

  // Get the current sticky section
  var currentStickySection = document.getElementById('shopify-section-sections--16806877233365__acf800e8-5f47-4094-bac0-e0b3b40998fb');

  if (previousStickySection && currentStickySection) {
    // Calculate the top position based on the height of the previous sticky section
    var offsetTop = previousStickySection.offsetHeight;

    // Apply the offset top to the current sticky section
    currentStickySection.style.top = (offsetTop - 1) + 'px';
  }
};


</script>

{% if section.settings.sticky %}
  <style>
    #shopify-section-sections--16806877233365__acf800e8-5f47-4094-bac0-e0b3b40998fb {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 5;
    }
  </style>
{% endif %}


<style>




#announcement_main {
  position: sticky;
  top: 0;
}


ul.announcement_container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  transition: transform 0.5s;
  padding: 5px 0px;
  position: sticky;
}

ul.announcement_container li {
    flex: 0 0 auto;
    min-width: calc(100%/4);
    border-right: 1px solid darkgrey
}

.text_container{
 display: flex;
  justify-content: center;
}

  .promo_text {
    margin: 0 10px;
    font-size: {{ section.settings.desktop_font-size | append: 'px' }}
  }

.text_container a{
   color: {{section.settings.link_color}};

    {% if section.settings.link_underline %}
    text-decoration:underline !important;
    {% endif %}
}

  .text_container .icon {
    margin: auto 0;
  }

.text_container a:hover{
   color: {{section.settings.link_hover_color}};
}

  .promo_image {
    height: 1.2rem;
    width: auto;
    margin: auto 0
  }

  ul.announcement_container .last-element {
  border-right: none;
}


@media only screen and (max-width: 480px) {
.text_container{
  font-size:{{fontSizeMobile}}px;
}
ul.announcement_container {
  
  top:-{{fontSizeMobile}}px;

}

  .promo_text {
    font-size: {{ section.settings.mobile_font-size | append: 'px' }}
  }

}


.mobile_only{
  display:none;
}

@media only screen and (max-width: 798px) {
  .mobile_only{
    display:block;
  }
  .desktop_only{
    display:none;
  }

  ul.announcement_container li {
    width: 100%
  }
}


</style>

{% endif %}


{% schema %}
{
   "name":"Header promo slider",
   "enabled_on": {
     "groups": ["header"]
   },
   "settings": [
  
              {
                "type": "checkbox",
                "id": "show_header_promo",
                "label": "Show header promo"
            },
            {
            "type": "color",
            "id": "background_color",
            "label": "Background color"
          },
          {
          "type": "color",
          "id": "text_color",
          "label": "Color"
          },
           {
            "type": "range",
            "id": "desktop_font-size",
            "label": "Desktop Font Size",
            "min": 10,
            "max": 20,
            "step": 1,
            "default": 14,
            "unit": "px"
          },
         {
            "type": "range",
            "id": "mobile_font-size",
            "label": "Mobile Font Size",
            "min": 10,
            "max": 20,
            "step": 1,
            "default": 14,
            "unit": "px"
          },
           {
             "type": "checkbox",
             "id": "sticky",
             "label": "Sticky Section"
           }

   ],
   "blocks":[
      {
         "type":"text",
         "name":"Announcement",
         "settings":[
            {
            "type":"text",
            "id":"title",
            "label":"Desktop Text"
            },
            {
              "type": "color",
              "id": "background_color",
              "label": "Background"
            },
           {
              "type": "text",
              "id": "icon_label",
              "label": "Icon",
              "placeholder": "Enter icon name",
              "info": "[Icon list](https://help.outofthesandbox.com/hc/en-us/articles/360021570294)",
              "default": "truck"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Header promo slider"
        
      }
   ]
}

{% endschema %}

