{% style %}
    .nad-main {
      padding: 40px 50px 20px 50px;
  }
    .page-width {
      max-width: 1400px;
      padding-left: 80px;
      padding-right: 80px;
      width: 100%;
  }
    .grid__item {
      float: left;
      padding-left: 30px;
      width: 100%;
  }
    .nad-row {
      display: inline-block;
      width: 100%;
  }

    .nad-half {
      width: 50%;
      float: left;
  }
    .nad-block {
      padding: 17px;
  }
    .green-box-style-1 {
      background-color: #683C11;
      padding: 30px;
      color: #fff;
      max-width: 95%;
      display: flex;
      align-items: center;
  }
    .grren-box-txt {
      width: 50%;
  }
    .grren-box-img {
      width: 50%;
      filter: brightness(0) invert(1);
      padding-top: 10px;
  }
  .beige-box-style-1 {
      background-color: #ffd47d;
      padding: 30px;
      color: #000;
      margin-right: 80px;
  }
    .beige-box-style-1 {
      background-color: #ffd47d;
      padding: 30px;
      color: #000;
      margin-right: 80px;
  }
    .beige-box-style-2 {
      background-color: #ffd47d;
      padding: 30px;
      color: #000;
      margin-bottom: 40px;
  }
    .green-box-style-2 {
      background: #683C11;
      padding: 30px;
      text-align: center;
      color:white;
  }
    .code-block {
      background-color: #003b00;
      padding: 35px 30px 30px;
      color: #fff;
  }
    .brown-box-style-2-flex-text {
      display: flex;
  }
    .brown-box-style-2-flex-text-1, .brown-box-style-2-flex-text-2 {
      width: 50%;
      padding: 16px;
  }
    .brown-box-style-2-flex-text-1 {
      text-align: right;
  }
    .brown-box-style-1 {
      background-color: #003b00;
      padding: 30px;
      color: #fff;

  }
    .beige-box-style-3 {

          background-color: #ffd47d;
      padding: 40px 30px 50px 30px;
      margin-top:10px;

  }
    .green-box-wide {
      background-color: #683C11;
      padding: 30px;
      color: #fff;
      margin: 30px 0 0;
  }
    .brown-box-style-1 img {
      width: 50%;
      margin: 0 auto 20px;
      padding-top: 5px;
      display: table;
  }
    .brown-box-style-1-image-2 img {
      padding-top: 40px;
      filter: invert(1);
      width: 80%;
      margin: auto;
      display: table;
  }
    img {
      max-width: 100%;
      vertical-align: top;
  }
    .beige-box-style-3 img {
      width: 55%;
      margin: 0 auto 20px;
      filter: brightness(1) invert(0);
      padding-top: 10px;
      display: table;
  }
    .green-box-wide img {
      width: 80%;
      margin: 0 auto 20px;
      padding-top: 20px;
      filter: brightness(0) invert(1);
      display: table;
  }
    .green-box-wide p {
      width: 60%;
      margin: auto;
      font-family: Montserrat;
      line-height: normal;
      padding: 20px;
          font-size:16px;
      color:white;

  }
    .green-box-style-2 img {
      filter: brightness(0) invert(1);
  }
  p:last-child {
      margin-bottom: 0;
  }
    .grid{
      display:flex;
    }

  .medium-up--two-sixths {
      width: 50%;
  }

    .brown-box-2 img{

      width:40%;
    }

    .brown-box-2 .image_wrapper{
       display: flex;
      justify-content: center;
    }
    .outer-grid{
      display:flex;
      flex-direction:column;
    }
    .bottom_wide{
      padding-right: 20px;
      padding-left: 45px;
    }
    .code-block img {
      width: 40%;
      margin: 0 auto 20px;
      filter: invert(1);
      display: table;
  }
    .beige-box-style-1-image img{
      padding-bottom:10px;
    }


    @media only screen and (min-width: 750px)

    @media only screen and (max-width: 480px){

    }
      @media only screen and (max-width: 1000px) {


            .grid{
          display:flex;
          flex-direction:column;
      }
        .grid-item{
          padding-left:0px;
        }
        .nad-row.left{
          display:flex;
          flex-direction:column;
        }
  .grid__item.medium-up--two-sixths, .grid__item.medium-up--four-sixths {
    width:100%;
    padding-left:0px;
  }
        .nad-half{
          width:100%;
        }
        .beige-box-style-1{
          margin-right:0px;
        }
        .nad-main{
          padding-top:0px;
          padding-bottom:0px;
        }
      .beige-box-style-2{
        margin-bottom:0px;
      }
        .green-box-style-1{
          max-width:100%;
          flex-direction: column-reverse;
        }
                .green-box-style-1 p{
margin-top:10px;
        }
        .brown-box-style-2-flex-text-1, .green-box-style-2 {
      text-align: left;
  }
        .brown-box-2 img{
          width:100%;
        }
    .green-box-wide p{
      width:100%;
      padding:0px;
      font-size:16px;

    }
          .beige-box-style-3 {

      margin-top:20px;

  }
        .bottom_wide{
          padding-left:17px;
          padding-right:17px;
        }


    }
  @media only screen and (max-width:480px){
      .nad-main {
      padding: 40px 10px 20px 10px;
  }
  }
    @media only screen and (min-width: 1000px){
  .medium-up--one-whole {
      width: 100%;
  }
    .medium-up--two-sixths {
      width: 33.33333%;
  }
      .medium-up--four-sixths {
      width: 66.66667%;
  }
    }
{% endstyle %}

<section class="section nad-main">
  <div class="outer-grid">
    <div class="grid">
      <div class="grid__item medium-up--four-sixths">
        <div class="nad-row left">
          <div class="nad-half">
            {% if section.settings.discription1 or section.settings.left_img1 != blank %}
              <div class="nad-block">
                <div class="green-box-style-1">
                  {% if section.settings.discription1 != blank %}
                    <div class="grren-box-txt">
                      {{ section.settings.discription1 }}
                    </div>
                  {% endif %}
                  {% if section.settings.left_img1 != blank %}
                    <div class="grren-box-img">
                      <img src="{{ section.settings.left_img1 | img_url: 'master' }}">
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if section.settings.left_img2 or section.settings.discription2 != blank %}
              <div class="nad-block">
                <div class="beige-box-style-1">
                  <div class="beige-box-style-1-image">
                    {% if section.settings.left_img2 != blank %}
                      <img src="{{ section.settings.left_img2 | img_url: 'master' }}">
                    {% endif %}
                    {% if section.settings.discription2 != blank %}
                      {{ section.settings.discription2 }}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="nad-half">
            {% if section.settings.cent_img1 or section.settings.cent_discription1 != blank %}
              <div class="nad-block">
                <div class="beige-box-style-2">
                  {% if section.settings.cent_img1 != blank %}
                    <img src="{{ section.settings.cent_img1 | img_url: 'master' }}">
                  {% endif %}
                  {% if section.settings.cent_discription1 != blank %}
                    {{ section.settings.cent_discription1 }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if section.settings.cent_img2 or section.settings.cent_discription2 != blank %}
              <div class="nad-block">
                <div class="green-box-style-2 ">
                  {% if section.settings.cent_img2 != blank %}
                    <img src="{{ section.settings.cent_img2 | img_url: 'master' }}">
                  {% endif %}
                  {% if section.settings.cent_discription2 != blank %}
                    {{ section.settings.cent_discription2 }}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        {% if section.settings.bottom_img
          or section.settings.bottom_discription1
          or section.settings.bootom_discription2 != blank
        %}
          <div class="nad-block">
            <div class="code-block brown-box-2">
              {% if section.settings.bottom_img != blank %}
                <div class="image_wrapper">
                  <img src="{{ section.settings.bottom_img | img_url: 'master' }}">
                </div>
              {% endif %}
              {% if section.settings.bottom_discription1 or section.settings.bootom_discription2 != blank %}
                <div class="brown-box-style-2-flex-text">
                  {% if section.settings.bottom_discription1 != blank %}
                    <div class="brown-box-style-2-flex-text-1">
                      {{ section.settings.bottom_discription1 }}
                    </div>
                  {% endif %}
                  {% if section.settings.bootom_discription2 != blank %}
                    <div class="brown-box-style-2-flex-text-2">
                      {{ section.settings.bootom_discription2 }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="grid__item medium-up--two-sixths">
        {% if section.settings.right_img1 or section.settings.right_discription1 != blank %}
          <div class="nad-block">
            <div class="brown-box-style-1">
              {% if section.settings.right_img1 != blank %}
                <img src="{{ section.settings.right_img1 | img_url: 'master' }}">
              {% endif %}
              {% if section.settings.right_discription1 != blank %}
                {{ section.settings.right_discription1 }}
              {% endif %}
              {% if section.settings.right_botom_img1 != blank %}
                <div class="brown-box-style-1-image-2">
                  <img src="{{ section.settings.right_botom_img1 | img_url: 'master' }}">
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if section.settings.right_img2 or section.settings.right_discription2 != blank %}
          <div class="nad-block">
            <div class="beige-box-style-3">
              {% if section.settings.right_img2 != blank %}
                <img src="{{ section.settings.right_img2 | img_url: 'master' }}">
              {% endif %}
              {% if section.settings.right_discription2 != blank %}
                {{ section.settings.right_discription2 }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% if section.settings.fullwith_img or section.settings.bottom_full_discription1 != blank %}
      <div class="grid">
        <div class="grid__item medium-up--one-whole bottom_wide">
          <div class="green-box-wide">
            {% if section.settings.fullwith_img != blank %}
              <img src="{{ section.settings.fullwith_img | img_url: 'master' }}">
            {% endif %}
            {% if section.settings.bottom_full_discription1 != blank %}
              {{ section.settings.bottom_full_discription1 }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>
{% schema %}
{
  "name": "NAD Custom Section",
  "settings": [
    {
      "type": "header",
      "content": "Left Image And Text"
    },
    {
      "type":"image_picker",
      "id":"left_img1",
      "label":"Image1"
    },
    {
      "type":"richtext",
      "id":"discription1",
      "label":"Discription1"
    },
    {
      "type":"image_picker",
      "id":"left_img2",
      "label":"Image2"
    },
    {
      "type":"richtext",
      "id":"discription2",
      "label":"Discription2"
    },
    {
      "type": "header",
      "content": "Center Image And Text"
    },
    {
      "type":"image_picker",
      "id":"cent_img1",
      "label":"Image1"
    },
    {
      "type":"richtext",
      "id":"cent_discription1",
      "label":"Discription1"
    },
    {
      "type":"image_picker",
      "id":"cent_img2",
      "label":"Image2"
    },
    {
      "type":"richtext",
      "id":"cent_discription2",
      "label":"Discription2"
    },
    {
      "type": "header",
      "content": "Bottom Image And Text"
    },
    {
      "type":"image_picker",
      "id":"bottom_img",
      "label":"Image1"
    },
    {
      "type":"richtext",
      "id":"bottom_discription1",
      "label":"Discription1"
    },
    {
      "type":"richtext",
      "id":"bootom_discription2",
      "label":"Discription2"
    },
    {
      "type": "header",
      "content": "Right Image And Text"
    },
    {
      "type":"image_picker",
      "id":"right_img1",
      "label":"Image1"
    },
    {
      "type":"richtext",
      "id":"right_discription1",
      "label":"Discription1"
    },
    {
      "type":"image_picker",
      "id":"right_botom_img1",
      "label":"Right Botttom Image1"
    },
    {
      "type":"image_picker",
      "id":"right_img2",
      "label":"Image2"
    },
    {
      "type":"richtext",
      "id":"right_discription2",
      "label":"Discription2"
    },
    {
      "type": "header",
      "content": "Bottom Full With Image And Text"
    },
    {
      "type":"image_picker",
      "id":"fullwith_img",
      "label":"Image"
    },
    {
      "type":"richtext",
      "id":"bottom_full_discription1",
      "label":"Discription"
    }

  ]
    ,
  "presets": [
  {
    "name": "NAD Custom Section"
  }]
}
{% endschema %}
